
body{
   height: 90vh; 
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: black;
}
.container{
    border-radius: 20px;
   flex-basis:80%;
   flex-wrap: wrap;
   column-gap: 12px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 12px;
}
.card{
    color: #ffff;
    background-color: rgb(5, 5, 65);
    border-radius: 20px;
    overflow: hidden;
    grid-row: 1;
    flex-basis: 20%;
    border: 2px solid rgb(36, 35, 38);
    display: flex;
    flex-direction: column;
    
    margin: 1.5rem;
}

.new-card{
    color: #ffff;
    border-radius: 20px;
    flex-basis: 16%;
    align-self: stretch;
    margin: 1.5rem;
    background-color: rgb(5, 5, 65);
   
    border: 2px solid rgb(36, 35, 38);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.description img{
    margin : 0.65rem;
    border-radius: 20px;
}
#plus{
    font-size: 90px;
    padding-left: 20px;
   
    flex-basis: 5%;
}
#G{
    color: rgb(25, 0, 255);
}
#oe{
    color: red;
}
#l{
    color: #5ff699;
}
#o{
    color:yellow
}
.description{
    padding-left: 1rem;
}

